<div class="body-not-logged-in">
<div class = "container">
    <div class = "center">
        <div class = "col s12">
            <%= link_to new_user_registration_path,remote: true do %>
                <span class="signup-button waves-effect blue waves-light btn-large ">Sign up</span>
            <% end %>
        </div>
        <div class = "col s12">
            <%= link_to new_user_session_path do %>
                <span class="signup-button waves-effect blue waves-light btn-large ">Sign in</span>
            <% end %>
        </div>
        <div class = "col s12">
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
            <% end %>
        </div>
    </div>
</div>

<div id="registration_modal" class="modal">
</div>
</div>
