<div class="card">
<div class="card-block">
    <div class="row">
        <div class="col-s1">
            <%= image_tag message.user.avatar.url(:thumb)%>
        </div>
        <div class="col-s11">
            <p class="card-text">
            <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span><br>
            <%= message.body %>
            </p>
        </div>
    </div>
</div>
</div>
