<div class = "container">

<h1>Add chat room</h1>

<%= form_for @chat_room do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: 'input-field' %>
    </div>

    <%= f.submit "Add!", class: 'btn' %>
<% end %>
</div>
