<%= form_for @message, url: '#' do |f| %>
      <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>
        <small class="text-muted">From 2 to 1000 characters</small>
    </div>

    <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>


<div id  = "messages", data-chat-room-id = "<%= @chat_room.id %> ">
    <%= render @chat_room.messages %>
</div>

