<li class="collection-item" id="comment-<%=comment.id%>" >
<%= image_tag comment.user.avatar.url(:thumb), class: "avatar" %>
<div class="comment-title"><%=comment.user.name%>

<div class="timestamp">
    Posted
    <%= time_ago_in_words(comment.created_at) %> ago.
</div>
<div class="delete right">
    <% if comment.user == current_user %>
        <%= link_to "delete", comment, method: :delete,
            data: { confirm: "You sure?" } , remote: :true%>
    <% end %>
</div>
<div class="divider"></div>
</div>

<div class= "content" >
    <p><%= comment.content %>   </p>
</div>
<div class= "like" >
    <% if @like = liked_by_user(current_user,comment ) %>
        <%= link_to "Unlike", like_path(@like.id),  :method => :delete %>
    <% else %>
        <%= link_to fa_icon("thumbs-up",text:"Like"), likes_path(:comment_id => comment.id ),  :method => :post %>
    <% end %>
    <%=   pluralize(comment.likes_count,"person") %> have liked this
</div>
</li>
