<br>
<%= image_tag @user.avatar.url(:medium),class: "profile-img" %>
<br>
<%= @user.name %>
<p><a href = "#modal1" class = "modal-trigger"> Friends(<%= @user.friends.count + @user.inverse_friends.count %>)</a></p>
<% if current_user != page_user %>
    <% if @title == "Add as a friend"  %>
        <p><%= link_to "#{@title}", notifications_path(:source => current_user, :dest => User.find(params[:id])), :method => :post %> </p>
    <% else %>
        <p> <%= @title %>  </p>
    <% end %>
<% else %>
    <p> <%= link_to "Edit profile", edit_user_registration_path %> </p>
<% end %>

