<div class = "row">
<div class = "container">


    <div class = "col s12 m4 l3 pull-l2">
        <%= render @user %>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Friends</h4>
            <% @user.all_friends.each do |f| %>
                <p><%= link_to f.name,f %> </p>
            <% end%>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <% if can? :read, @user %>
    <div class = "col s12 m8 l9">
        <h4 class="center"> Timeline </h4>
        <%= render 'shared/feed' %>
    </div>
    <% end %>
</div>
</div>
