<ul class="collection">
<% post.comments.each do |c| %>
    <% cache c do %>
    <li class="collection-item " id="comment-<%= c.id %>">
        <%= image_tag c.user.avatar.url(:thumb), class: "avatar" %>
        <div class="comment-title"><%=c.user.name%>

        <div class="timestamp">
            Posted
            <%= time_ago_in_words(post.created_at) %> ago.
        </div>
        <div class="delete right">
            <% if c.user == current_user %>
                <%= link_to "delete", c, method: :delete,
                    data: { confirm: "You sure?" }, :remote => :true %>
            <% end %>
        </div>
        <div class="divider"></div>
        </div>

        <div class= "content" >
            <p><%= c.content %>   </p>
        </div>
        <div class= "like" >
            <% if @like = liked_by_user(current_user,c) %>
            <%= link_to "Unlike", like_path(@like.id),  :method => :delete %>
            <% else %>
                <%= link_to fa_icon("thumbs-up",text:"Like"), likes_path(:comment_id => c.id, :type => "comment"),  :method => :post %>
            <% end %>
            <%=   pluralize(c.likes_count,"person have") %> liked this
        </div>
    <% end %>
    <% end %>
    </li>
</ul>
