<div class = "container">

<% if can? :create, @post %>
    <div class = "col s12">
        <%= form_for(@post) do |f| %>
            <div class="input-field new-post">
                <%= f.text_area :content, placeholder: "New post ..." %>
            </div>
            <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
    </div>
<% else %>
    <p> You are blocked from posting </p>
<% end %>
</div>
