<h1>Results</h1>
<div class = "row">
    <div class = "container">
<% if !@search_result.empty? %>
    <% @search_result.each do |user| %>
        <ul class="collection">
            <li class="collection-item">
                <%= image_tag user.avatar.url(:thumb), class:"avatar" %>
                <div class="username"><%= link_to user.name, user %></div>
            </li>
        </ul>
    <% end %>
    </div>
</div>


<% else %>
    <p> No users have been found ! </p>
<% end %>
