<div class="row post white">
<li  id="post- <%= post.id %>">
    <div class="col s12">
        <div class = "user">
            <%= image_tag post.user.avatar.url(:thumb), class:"avatar" %>
            <div class = "comment-title">
                <%= link_to post.user.name, post.user%>
            </div>
        </div>
    </div>
        <div class="col s12">
            <div class = "content left fr-view">
                <%= raw post.content %>
            </div>
        </div>
        <span class= "divider"></span>
        <% if like = liked_by_user(current_user,post) %>
            <div class="likes col s12">
                <%= link_to "Unlike", like_path(like.id),  :method => :delete %>
            </div>
        <% else %>
            <div class="likes col s12">
                <%= link_to fa_icon("thumbs-up",text:"Like"), likes_path(:post_id => post),  :method => :post %>
            </div>
        <% end %>
        <div class="col s6">
            <%=   pluralize(post.likes_count,"person") %> have liked this </div>
        <div class="timestamp col s6">
            Posted
            <%= time_ago_in_words(post.created_at) %> ago.
            <% if post.user == current_user %>
                <%= link_to "delete", post, method: :delete,
                    data: { confirm: "You sure?" } %>
            <% end %>
        </div>
        <div class = "col s12"> <%= link_to "Comments", show_comment_modal_path(post_id: post.id), remote: true %> </div>
</li>


<div id="modal" class="modal">
</div>

</div>
