<div class="modal-content">

<% if can? :create, @comment %>
<h4>Comments</h4>
<%= form_for @comment, html: { class:"input-field", remote: true} do |f| %>
    <%= f.text_area :content, placeholder: "Say something..." %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.submit :create %>
<% end %>
<div class = "row">
    <%= render partial: 'shared/comments_feed', locals: {post:@post}  %>
</div>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>

</div>
<% else %>
    <p> Blocked from commenting </p>

<% end %>
