@import "materialize/components/color";
@import "font-awesome-sprockets";
@import "font-awesome";
$primary-color: #3b5998 !default;
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
$secondary-color: #8b9dc3 !default;
$light-grey: #d3d3d3;
$darker-grey: #d7d7d7;
@import 'materialize';

body {
    background-color: #dfe3ee;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
}

.not-name{
    margin-top: 20px;
}

.not-content{
    position:absolute;
    margin-top: -78px;
    margin-left:150px;

}
.not-reply-content{
    position:absolute;
    margin-top: -50px;
    margin-left:150px;

}
#dropdown2{
    position:relative;
    background-color: $primary-color;
    width:600px !important;

}
.body-not-logged-in{

    background: #222;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-fill-mode: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 300px;
    height: 50px;
    margin-top: 70px;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.btn-large {
    width: 300px;
    height: 50px;
    margin-top: 70px;
}

#messages {
    max-height: 450px;
    overflow-y: auto;
    .avatar {
        margin: 0.5rem;
    }
}

.profile-img{
    border: solid 3px white;
}

.post {
    border: solid 0.5px $light-grey;
    border-radius: 4px;
    font-size: 15px;
    @extend .z-depth-1

}


.delete{
    margin-top:-30px;
}

.user {
    padding-top:7px;
    padding-bottom:35px;
}
.username {
    margin-top: -42px;
    margin-left: 60px;
    padding-bottom:5px;
}

.comment-title{
    @extend .username

}

.timestamp{
    color: $darker-grey;
    font-size:12px;

}


.content {
    letter-spacing: 0.1px;
    font-family: 'Raleway';
    padding-bottom:35px;
    padding-left:15px;
}
.avatar {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#dropdown1 {
    background-color: $primary-color;
    width: 350px !important;
}

.dropdown-content li {
    color: white;
}
.dropdown-content li a {
    color: white;
}
.nav-wrapper {
    position: absolute !important;
    height:0 !important;
}


/*.posts li .content  {
position: relative;
top:1em;
margin-bottom:2em;
}
.posts li .comments  {
position: absolute;
bottom:0;
left:10em;
}
.posts li .timestamp {
position: absolute;
bottom:0;
right: 0;

}
 */
