<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Friend request from: </a></li>

    <% if  !@friend_requests.empty? %>
        <% @friend_requests.each do |req| %>
            <div class = "row">
                <div class = "col l6">
                    <%= image_tag req.last.avatar.url(:thumb), class:"avatar"%>
                </div>
                <div class = "col l6 pull-l4">
                    <a ><%= link_to req.last.name,req.last %></a>
                </div>
                <div class = "col l12">
                    <%= link_to "Accept", friendships_path(:friend => req.last), class:"waves-effect waves-light", method: :post %>
                </div>
                <div class = "col l12">
                    <%= link_to "Reject", notification_path(req.last), class:"waves-effect waves-light", method: :delete %>
                </div>
                <li class="divider"></li>
            <% end %>
        <% else %>
            <li> No new requests </li>
        <% end %>
            </div>

</ul>

