<ul id="dropdown2" class="dropdown-content">
    <li>Notifications: </li>

    <% if  !@reply_notifications.nil? %>
        <% @reply_notifications.each do |reply| %>
            <%= link_to reply.last do %>
                <div class = "not-name">
                    <%= reply.last.name %>
                </div>
             <% end %>
                <div class = "not-content">
                    <p> commented on your post:  <%= reply.first.post.content[0..20] %>... </p>
                </div>
                <div class = "not-reply-content">
                     with:  <%= reply.first.comment.content[0..20] %>... 
                </div>
                <li class="divider"></li>
                <li class="divider"></li>
            <% end %>
        <% else %>
            <li> No new notifications </li>
        <% end %>
            </div>

</ul>

