<!DOCTYPE html>
<html>
    <head>
        <title>FbClone</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <% if user_signed_in? %>
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    <li> <%= form_tag(searches_path, :method => "get") do %>
                        <%= text_field_tag :search, params[:search],  placeholder: "Search users" %>
                    <% end %> </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li> <%= link_to (fa_icon "user",text:"Your profile"), current_user  %></li>
                    <li> <%= link_to (fa_icon "feed",text:"Feed"), root_url  %></li>
                    <% @not_count = current_user.notifications.count %>
                    <li> <a class= "dropdown-button" data-activates= "dropdown1" <%= link_to (fa_icon "users ",text:"Friend Requests"), root_url  %></li>
                    <li> <a class= "dropdown-button" data-activates= "dropdown2" <%= link_to (fa_icon "globe ",text:"Notifications"), root_url  %></li>
                    <li> <%= link_to "Sign out", destroy_user_session_path , method: :delete %></li>
                </ul>
            
                <%= render partial: "layouts/friend_requests_dropdown" %>
                <%= render partial: "layouts/notifications_dropdown" %>
   <% end %>

            </div>
        </nav>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <body>
            <%= yield %>
        </body>
</html>
